.footermain
{
   display:flex;
   margin:auto;
   gap:28px;
   justify-content: center;
}
.insta{
    width: 40%;
}
.snapchat{
    width: 40%;
}
.fb
{
    width: 40%;
    border-radius: 50%;
}

.visa,.master,.paypal,.american,.electron
{
    width:25.5%;
    height:80%
}

/* end footer */
.lastfooter
{
    display: flex;
    background-color:#eeeeee ;
    height: 13rem;
    justify-content: center;

}
/* .helpdiv
{
        width: 100%;
        line-height: 30px;
        text-align: left;
} */
.head
{
    font-size: 16px;
    font-weight: bold;
   
}