.sci_mainbox{
    width: 100%;
   margin: auto;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
   
   
   
}
@media screen and (max-width:800px) {
    .sci_mainbox{
        width: 100%;
    }
}